
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background: rgb(6,0,52);
    background: radial-gradient(circle, rgba(6,0,52,1) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
width: 0px;
}

/*menu lateral*/
.navlateral {
    margin: 1px;
}

.barra-lateral {
    position: fixed;
    background-color: black;
    height: 100%;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    padding-top: 20px;
}

li {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    line-height: 20px;
    list-style-type: none;
}

.barra-lateral ul li {
    cursor:pointer;
    list-style-type: none;

}

.barra-lateral ul a:nth-child(1) li{
    background: linear-gradient(256.25deg, rgba(31,116,143,1) 0%, rgba(0,28,230,1) 100%);
    list-style: none;
    color: white;
}

.icon {
    width: 30px;
    height: 30px;
    filter: invert(100%);
    margin-right: 10px;
}

.logo img {
    width: 100px;
    align-items: center;
    
}

.logoname {
    font-style:italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 10px;
    text-align: center;
}

.banner {
    width: 100%;
    height: 100%;
    margin-left: 30%;
    
}

.banner img {
    width: 50%;
    height: 50%;
    margin-top: 20px;
    border-radius: 40px;
}


/* musicas */
.fileira1 {
    display: flex;
    width: 100%;
    margin-left: 20px;
  }


.music1 {
    height: 190px;
    width: 160px;
    background-color: rgba(0, 0, 0, 0.593);
    margin-left: 20%;
    border-radius: 20px;
    margin-top: 20px;
  }

.imagemmusica img {
    height: 135px;
    width: 160px ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 20px;
}

.descriçao {
    color: white;
    padding: 15px;
    padding-top: 5px;
    font-size: 14px;
    
}

/*Icone de play que vai aparecer ao passar o mouse*/
.play img {
    height: 60px;
    width: auto;
  }


  .music1 i{
    display:none;
  }

  .music1:hover i {
    padding-top: 90px;
    padding-left: 98px;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    z-index: 999;
    display: flex;
    position:absolute;
  }
  
  .music1:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


  /* Demais players*/
  .music {
    height: 190px;
    width: 160px;
    background-color: rgba(0, 0, 0, 0.593);
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 30px;
  }

  .music:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

  .music i{
    display:none;
  }

  .music:hover i {
    padding-top: 90px;
    padding-left: 98px;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    z-index: 999;
    display: flex;
    position:absolute;
  }